
.shop{
    .container{


        .filter_products{
            display: flex;
            justify-content: space-between;
            width: 100%;

            .products{
                width: 80%;
            }
        }
    }
}

